language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'

env:
    - SYMFONY_VERSION=2.7.* ELASTICA_VERSION=3.2
    - SYMFONY_VERSION=2.8.* ELASTICA_VERSION=3.2
    - SYMFONY_VERSION=3.0.* ELASTICA_VERSION=3.2
    - SYMFONY_VERSION=3.3.* ELASTICA_VERSION=3.2
    - SYMFONY_VERSION=4.0.* ELASTICA_VERSION=3.2

    - SYMFONY_VERSION=2.7.* ELASTICA_VERSION=^5.0
    - SYMFONY_VERSION=2.8.* ELASTICA_VERSION=^5.0
    - SYMFONY_VERSION=3.0.* ELASTICA_VERSION=^5.0
    - SYMFONY_VERSION=3.3.* ELASTICA_VERSION=^5.0
    - SYMFONY_VERSION=4.0.* ELASTICA_VERSION=^5.0

    - SYMFONY_VERSION=2.7.* ELASTICA_VERSION=^6.0
    - SYMFONY_VERSION=2.8.* ELASTICA_VERSION=^6.0
    - SYMFONY_VERSION=3.0.* ELASTICA_VERSION=^6.0
    - SYMFONY_VERSION=3.3.* ELASTICA_VERSION=^6.0
    - SYMFONY_VERSION=4.0.* ELASTICA_VERSION=^6.0

matrix:
  exclude:
    - php: '5.6'
      env: SYMFONY_VERSION=4.0.* ELASTICA_VERSION=3.2
    - php: '7.0'
      env: SYMFONY_VERSION=4.0.* ELASTICA_VERSION=3.2
    - php: '5.6'
      env: SYMFONY_VERSION=4.0.* ELASTICA_VERSION=^5.0
    - php: '7.0'
      env: SYMFONY_VERSION=4.0.* ELASTICA_VERSION=^5.0
    - php: '5.6'
      env: SYMFONY_VERSION=2.7.* ELASTICA_VERSION=^6.0
    - php: '5.6'
      env: SYMFONY_VERSION=2.8.* ELASTICA_VERSION=^6.0
    - php: '5.6'
      env: SYMFONY_VERSION=3.0.* ELASTICA_VERSION=^6.0
    - php: '5.6'
      env: SYMFONY_VERSION=3.3.* ELASTICA_VERSION=^6.0
    - php: '5.6'
      env: SYMFONY_VERSION=4.0.* ELASTICA_VERSION=^6.0
    - php: '7.0'
      env: SYMFONY_VERSION=4.0.* ELASTICA_VERSION=^6.0

before_script:
    - composer self-update
    - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
    - composer require symfony/expression-language:${SYMFONY_VERSION} --no-update
    - composer require symfony/yaml:${SYMFONY_VERSION} --no-update
    - composer require symfony/web-profiler-bundle:${SYMFONY_VERSION} --no-update
    - composer require symfony/twig-bundle:${SYMFONY_VERSION} --no-update
    - composer require symfony/browser-kit:${SYMFONY_VERSION} --no-update
    - composer require symfony/css-selector:${SYMFONY_VERSION} --no-update
    - composer require ruflin/elastica:${ELASTICA_VERSION} --no-update
    - composer update --no-interaction

script:
    - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_success:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
    - bash <(curl -s https://codecov.io/bash)
